<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Latin Words</title>
</head>
<body>
    <section>
        <div class="container">

    <form method="POST" action="/">
        <label for="chapter">Chapter:</label>
        <select name="chapter" id="chapter">
            {% for c in chapters %}
            <option value="{{ c }}" {% if c == chapter %}selected{% endif %}>{{ c }}</option>
            {% endfor %}
        </select>
        <button type="submit">Get Word</button>
    </form>
    <div>
        <h3>English Word: {{ englishWord }}</h3>
        <h3>Latin Word: {{ latinWord }}</h3>
    </div>
        <div class="grid">
            {% if photo_data %}
                {% for photo_url, photographer, photographer_url in photo_data %}
                    <div class="photo">
                        <a href="{{ photo_url }}" target="_blank"><img src="{{ photo_url }}" alt="{{ english }}"></a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No photos available.</p>
            {% endif %}
        </div>
    </div>
</section>
 
</body>
</html>
